body {
    padding-top: 50px;
}
.title {
    padding: 40px 15px;
}
.ok{
    color: #5cb85c;
}
.search{
    margin-bottom: 10px;
}
td{
    vertical-align: middle !important;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}